@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

@media (max-width : 640px) {
    a.active{
        background-color:  rgb(190, 190, 255);
        color: white;
    }
}
.prata-regular{
    font-family: "Prata", serif;
}


::-webkit-scrollbar{
    display: none;
}
.swiper-pagination {
  margin-top: 20px;
}
